<!-- Contenido principal -->
<main>
  <div class="breadcrumb">Home / Materias / Cursos / Curso A2</div>

  <h1>{{ nombreCurso }}</h1>

  <div class="search-bar">
    <input type="text" placeholder="Buscar" />
  </div>

  <div class="student-list">
    <!-- Estudiante 1 -->
    <div class="student-card">
      <div class="student-info">
        <img src="https://via.placeholder.com/50" alt="Estudiante 1" />
        <div>
          <h3>Juan Pablo Santos Mendoza</h3>
          <p>221755</p>
        </div>
      </div>
      <div class="actions">
        <button (click)="irDetalleNota(1)">Consultar</button>
        <!-- <button>Editar</button>
                <button>Acta</button> -->
      </div>
    </div>

    <!-- Estudiante 2 -->
    <div class="student-card">
      <div class="student-info">
        <img src="https://via.placeholder.com/50" alt="Estudiante 2" />
        <div>
          <h3>Ana Maria Murcia Gallego</h3>
          <p>221222</p>
        </div>
      </div>
      <div class="actions">
        <button>Consultar</button>
        <button>Editar</button>
        <button>Acta</button>
      </div>
    </div>

    <!-- Estudiante 3 -->
    <div class="student-card">
      <div class="student-info">
        <img src="https://via.placeholder.com/50" alt="Estudiante 3" />
        <div>
          <h3>Lucia Castelblanco Rojas</h3>
          <p>2122433</p>
        </div>
      </div>
      <div class="actions">
        <button>Consultar</button>
        <button>Editar</button>
        <button>Acta</button>
      </div>
    </div>
  </div>
</main>
