<div class="login-container">
  <div class="login-form">
      <h1>Bienvenido de vuelta</h1>
      <input type="text" placeholder="Ingrese aquí su número de usuario">
      <input type="password" placeholder="Ingrese aquí su contraseña">
      <button (click)="ingresar()">Ingresar</button>
  </div>
  <div class="image-section">
      <img src="assets/profile.png" alt="Avatar"> <!-- Cambiar por la imagen del usuario -->
      <img class="logo" src="assets/Universidad_Industrial_de_Santander_logo.svg" alt="Logo Universidad"> <!-- Cambiar por el logo -->
  </div>
</div>
